*{
    font-size: 20px;
}

*[data-state="hidden"]{
    display: none;
}

*[data-state="visible"]{
    display: block;
}

ul{
    padding: 0;
}

li{
    list-style: none;
}

header{
    padding: 10px;
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
}

h2{
    font-size: 150%;
}

#question-container li{
    list-style: none;
    margin: 10px 0;
}

.player-scores{
    margin-bottom: 10px;
    color: teal;
}

a, button{
    cursor: pointer;
}

.center-text{
    text-align: center;
}

.multiple-choice{
    background-color: darkblue;
    color: white;
    padding: 15px;
    width: 30%;
    cursor: pointer;
    border-radius: 10px;
    /* display: block; */
}

#high-score-link{
    color: teal;
}

#high-score-window{
    background-color: rgb(237, 237, 237);
    position: absolute;
    top: 70px;
    left: 20px;
    padding: 0 10px;
    width: 150px;
    border: 1px solid black;
    border-radius: 5px;
}

#welcome-message{
    margin: 0 auto;
}

#start-button, #go-back-btn, #clear-scores-btn{
    padding: 15px;
    background-color: darkblue;
    color: white;
    border-radius: 5px;
}

#start-button{
    margin: 0 auto;
}

#submit-score{
    background-color: teal;
    color: white;
}

button:hover, .multiple-choice:hover{
    background-color: teal;
    color: white;
    box-shadow: 0.3em 0.3em 0.3em gray;
}

#right-or-wrong{
    margin-top: 20px;
    color: gray;
}